<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <description>EJB3 Ear tutorial</description>

   <!-- ### Servlets -->
   <servlet>
      <servlet-name>CalculatorActionServlet</servlet-name>
      <servlet-class>org.jboss.tutorial.ear.servlet.CalculatorActionServlet</servlet-class>
   </servlet>

   <!-- The servlet and jsp page mappings -->
   <servlet-mapping>
      <servlet-name>CalculatorActionServlet</servlet-name>
      <url-pattern>/CalculatorAction</url-pattern>
   </servlet-mapping>

</web-app>
